*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}
h1{
    color: black;
    text-align: center;
}

#game{
    width: 600px;
    height: 400px;
}